---

---
@import "main"; 

@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic+Coding:wght@400;700&display=swap');

:root {
  --main-font: 'Jua', sans-serif;
  --code-font: 'Nanum Gothic Coding', monospace;
}

body {
  font-family: var(--main-font) !important;
}

code, kbd, samp, pre {
  font-family: var(--code-font) !important;
}