---
---

@use 'main.bundle'; // 테마 원본 스타일을 우선 가지고 옴.

// Web형식으로 폰트를 받음.
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

body, h1, h2, h3, h4, h5, h6,
code, pre, .highlight { 
  font-family: 'Noto Sans KR', sans-serif !important;
}

// 코드가 너무 빽빽해 보이지 않게 자간을 살짝 넓힘.
code, pre, .highlight {
  letter-spacing: 0.03em; 
}

// 코드 블록 내부 테이블 요소 강제 적용.
.highlight table td {
    font-family: 'Noto Sans KR', sans-serif !important;
}

// 언어가 지정되지 않았거나 plaintext인 경우에만 헤더 숨기기
div.language-plaintext .code-header,
div.nohl .code-header {
    display: none !important;
}